.main-rectangle{
	position: absolute;
	width: 1579px;
	height: 688px;
	left: 0px;
	top: -0.01px;
	background: #F6F2F2;
	z-index: -1;
}

.bar{
	position: absolute;
	width: 1249px;
	height: 89px;
	left: 164px;
	top: 29px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.8;
}

.menu li{
	display: inline-block;
	align-items: center;
}

.menu .item-home{
	position: absolute;
	left: 381px;
	padding-top: 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	text-decoration: none;
	color: #E0E0E0;
}


.menu .item-portfolio{
	position: absolute;
	left: 488px;
	padding-top: 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	text-decoration: none;
	color: #E0E0E0;
}

.menu .item-about{
	position: absolute;
	left: 618px;
	padding-top: 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	text-decoration: none;
	color: #E0E0E0;
}

.menu .item-contact{
	position: absolute;
	left: 748px;
	padding-top: 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	text-decoration: none;
	color: #E0E0E0;
}

.active{
	position: absolute;
	width: 90px;
	height: 89px;
	left: 358px;
	background: #FF3F40;

}

.second-block{
	position: absolute;
	width: 1253px;
	height: 359px;
	left: 163px;
	top: 219px;
	color:green;
	z-index: 2;
}



.title{
	position: absolute;
	width: 554px;
	left: 164px;
	top: 170px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
	display: flex;
	align-items: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #000000;
}

.text{
	position: absolute;
	width: 544.85px;
	height: 73px;
	left: 165px;
	top: 373.52px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #000000;
}


.video-block{
	position: absolute;
	width: 554px;
	height: 359px;
	left: 862px;
	top: 219px;
	background: #FF2222;
	box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.video-block2{
	position: absolute;
	width: 70px;
	height: 69px;
	left: 1105px;
	top: 365px;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.8;
}

.button{
	position: absolute;
	width: 227px;
	height: 55px;
	left: 163px;
	top: 510px;
	background: #FF2D2D;
}

.contact{
	position: absolute;
	width: 143.35px;
	height: 24px;
	left: 226px;
	top: 524.39px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0412px;
	line-height: 34px;
	display: flex;
	align-items: center;
	letter-spacing: 0.3195px;
	color: #FFFFFF;
}